@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');
/*font-family: 'Poppins', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
/*font-family: 'Paytone One', sans-serif;*/

:root{
    --cor01:#FDCE00;
    --cor02:#752F89;
    --cor03:#932BB1;
    --cor04:#3C0C3E;

    --fonte01: 'Poppins', sans-serif;
    --fonte02: 'Montserrat', sans-serif;
    --fonte03: 'Paytone One', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    margin: 0 auto;
    max-width: 1000px;
    background-color: var(--cor01);
}

.cabecalho{
    border-radius: 5px 5px 0px 0px;
    background-color: var(--cor03);
   height: 60px;
   
}

.navegacao{
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.menu-a{
    margin-top: 10px;
    padding: 5px;
    font-family: var(--fonte01);
    font-size: 18px;
    transition: .3s;
    color: white;
    font-weight: 500;
    align-items: center;
}

.menu-a:hover{
    transition: .3s;
    background-color: var(--cor01);
    border-radius: 5px;
    font-weight: 500;
    color: black;
}

.acai{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-03{
    border-radius: 0px 0px 5px 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.texto-acai{
    padding: 20px;
    font-family: var(--fonte03);
    font-size: 23px;
}

.rodape{
    background-color: var(--cor04);
    text-align: center;
    
}

.div-rodape{
    color: white;
    font-family: var(--fonte1);
    padding: 10px;
    font-size: 13px;
}